/*.case1{
    text-align: right;
    background-attachment: fixed;
    background-color: black;
    color: bisque;
    display: flex;
    
}*/
body, html{
    font: normal 16px/1.6 'Open Sans', helvetica, arial, sans-serif;
    background-color: #191919;
    color: #8e8e8e;
    border:0;
    padding: 0;
    border: 0;
    }
    
    h1, h2, h3{
    font-family: 'Quicksand', helvetica, arial, sans-serif;
    font-weight: normal;
    }
    
    h2{
    margin: 1em 0;
    }
    
    p{
    margin: 1em 0;
    }
    
    a{
    color: #eee;
    }
    
    a:hover, a:focus{
    color: #fff;
    }
#container, #colors{
    padding-top: 20.5%;
    height: 2.6em;
    overflow: visible;
    position: relative;
    margin-top: 4em;
    margin-bottom: 3em;
    font: normal 1em 'Quicksand', helvetica, arial, sans-serif;
    background-color: 191919;
    }
    
    #container .randomize{
    margin-top: 4.3em;
    transition: margin 1s;
    }
    
    .row, .colors{
    margin: 0;
    }
    
    #container .colors, #container .colors{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    }
    
    #container .active{
    position: relative;
    }
    
    #container .active .colors{
    position: fixed;
    top: 0;
    width: inherit;
    margin-left: -15px;
    padding-right: 30px;
    z-index: 1002;
    }
    
